.banner, .subBanner, .textoSubBanner, .rodape {
    width: 100%;
    height: auto;
}

.banner img {
    width: 100%;
    height: 450px;
}

.subBanner img {
    width: 100%;
    height: 450px;
}

.img01{
    height: 500px;
    width: 100%
}

.img02{
    height: 350px;
}

.margin01{
    margin: 3% 3% 0 3%
}

.margin02{
    margin: 0% 20% 0 20%;
}

.texto{
    text-align: center;
}

.img03{
    width: 160%
}

.icones{
    width: 20%;
    height: 50%;
}

.corLinks{
    margin-top: 20%;
    color: #5500ff;
}